header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all ease .3s;
    overflow: hidden;
    height: 150px;
    &.scrolled{
        height: 60px;

    }
    border-bottom: 1px solid #9BCADE66;
    background: #FFF;
    img{
        position: absolute;

        &.logo{
            width: 200px;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            transition: width ease .3s;
            &.scrolled{
                width: 120px;
            }
        }
        &.bg{
            width: 120dvw;
            bottom: 40%;
            left: 50%;
            transform: translateX(-50%);
            transition: all ease .3s;
            &.scrolled{
                bottom: 100%;
            }
            @media (min-width:748px) {
                bottom: 20%;
                left: 0;
                transform: translateX(0);
                width: 897.6px;
            }
        }
    }
    span{
        position: absolute;
        font-family: "Frank Ruhl Libre", serif;
        transition: all ease .3s;
        &.date{
            font-size: 10px;
            top: 20px;
            right: 15px;
            &.scrolled{
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &.sub{
            font-family: 'Ubuntu Sans', sans-serif;
            font-size: 14px;
            font-weight: 100;
            opacity: 1;
            bottom: 10px;
            &.scrolled{
                opacity: 0;
            }
        }
    }
}
