h1, h2{
    font-family: "Frank Ruhl Libre", serif;
}
h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
}
h2{
    font-size: 1.5rem;
}
p{
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
img{
    &.post-image{
        width: 100%;
    }
}
.page-content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 30px;
    gap: 35px;
    margin-top: 60px;
    @media (min-width: 768px) {
        margin-top: 90px;
    }
}
.post-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 700px;
}
h3{
    font-family: "Frank Ruhl Libre", serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}
ul{
    list-style: disc;
    gap: 15px;
    padding-left: 20px;
}
li{
    margin: 10px 0;
}